{{define "head"}}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Human Potential Index">
<meta name="author" content="Daulet Baimurza, Azamat Baimurza">
<title>{{ .Title }} | Shanraq.org</title>
<link href="/static/brand/favicon.svg" rel="icon">
<link href="/static/brand/favicon.svg" rel="apple-touch-icon">
<!-- Bootstrap icons & cdn -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
<link href="/static/css/bootstrap.min.css" rel="stylesheet">
<link href="/static/css/style.css" rel="stylesheet">
{{end}}