{{define "main"}}
    <h4 class="my-3">Global Human Potential Index</h4>
    <table class="table table-hover">
        <thead class="table-light">
        <tr>
            <th>Rank</th>
            <th>Flag</th>
            <th>Country</th>
            <th>Population</th>
            <th>HPI Score</th>
        </tr>
        </thead>
        <tbody>
        {{range .Data.RankedCountries}}
            <tr>
                <td><strong>{{ .Rank }}</strong></td>
                <td>{{ .Country.FlagCode }}</td>
                <td><a href="/country/{{ .Country.Name }}">{{ .Country.Name }}</a></td>
                <td>{{ .Country.Population }}</td>
                <td><strong>{{ printf "%.2f" .HPI }}</strong></td>
            </tr>
        {{end}}
        </tbody>
    </table>
{{end}}
{{define "scripts"}}
{{end}}