a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.markdown h1,h2,h3 { 
    font-weight: 700; 
    margin: 1.2rem 0 .6rem; 
}
.markdown p, .markdown li { 
    line-height: 1.7; 
}
.markdown code { 
    background: #f6f8fa; 
    padding: .15rem .35rem; 
    border-radius: .25rem; 
}
.markdown pre { 
    background: #f6f8fa; 
    padding: .75rem 1rem; 
    border-radius: .5rem; 
    overflow:auto; 
}

.table>:not(caption)>*>* {
    padding: .3rem .5rem;
}

td .fi {
    font-size: 1.3rem; 
    border-radius: 3px;
    vertical-align: middle; 
}